body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.modal-lg {
    width: 80%;
    border: none;
}

.modal-content {
    background: #222222;
    border: none;
}

.modal-image-wrapper {
    padding: 2em;
}

.ppm-glyphicon-state-active {
    color: #BBAA22;
}