<div>

    <div>
        <span ng-if="details.hasAlternatives">
            <a ng-click="showAlternatives()" href="#">Alternatives available, show 'em</a>
        </span>
        <h2>TAGS</h2>
        <div>
            <span class="label label-info" ng-repeat="tag in details.tags"><a ng-click="showThumbnailsForTag(tag)">{{tag}}</a></span>
        </div>
        <input name="'newTag" ng-model="newTag" ng-keypress="newTagKeyPressed()" /> <button ng-click="addTag()">Add Tag</button>
    </div>

    <div>
        <img class="img-thumbnail" src="/thumbnail/{{ pictureId }}_1400.jpg">
    </div>

    <button class="btn btn-default" ng-click="exifIsCollapsed = !exifIsCollapsed">Toggle Exif Details</button>

    <div collapse="exifIsCollapsed">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>EXIF Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tr ng-repeat="exif in details.exif">
                <td>{{exif.name}}</td>
                <td>{{exif.value}}</td>
            </tr>
        </table>
    </div>

</div>