<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery ({{selectedTag}})</h1>
        </div>

        <div class="panel panel-default" style="position: fixed; top: 200px">
            <div class="panel-heading">
                <h3 class="panel-title">Toolbox</h3>
            </div>
            <div class="panel-body">
                <input type="checkbox" ng-model="showMarker" id="showMarker"><label for="showMarker">Show Marker</label>
                <hr/>
                <input type="checkbox" ng-model="showTags" id="showTags"><label for="showTags">Show Tags</label>
                <hr/>
                <input type="checkbox" ng-model="showAlternativeHandlingStuff" id="showAlternativeHandlingStuff">
                <label for="showAlternativeHandlingStuff">Show alternative handling stuff</label>
                <hr/>
                <input type="checkbox" ng-model="showEditPictureStuff" id="showEditPictureStuff">
                <label for="showEditPictureStuff">Show edit picture and thumbnail stuff</label>
                <hr/>
            </div>

        </div>

        <div ng-if="showAlert" class="alert {{alertTypeClass}} ppm-alert-fixed">
            {{alertMessage}}
            <button ng-click="disableAlert()">Close</button>
        </div>

        <div style="width: 20%; float: left">
            go on scrolling ...
        </div>
        <div style="width: 79%; float: left">


            <div ng-repeat="thumbnail in thumbnails" class="col-lg-3 col-md-4 col-xs-6 thumb" ng-if="thumbnail.id > 0">

                <a class="img-thumbnail" href="#" sf-drag="thumbnail.id" sf-drag-type="thumbnail"
                   sf-drop="thumbnail" sf-drop-type="thumbnail" sf-on-drop="onThumbnailDrop($item, $target, $returnValue)"
                   ng-class="{
      'dragged': (dndSession.item == thumbnail),
      'targetted': (dndSession.target == thumbnail)
    }">
                    <img ng-src="{{thumbnail.href}}"/>
                </a>

                <div ng-if="showMarker">
                    <span ng-if="!hasTag('ppm.print.mark', thumbnail.tags)" class="glyphicon glyphicon-print"
                          ng-click="addTag(thumbnail.id, 'ppm.print.mark')">&nbsp;</span>
                    <span ng-if="hasTag('ppm.print.mark', thumbnail.tags)"
                          class="glyphicon glyphicon-print ppm-glyphicon-state-active"
                          ng-click="removeTag(thumbnail.id, 'ppm.print.mark')">&nbsp;</span>
                </div>

                <div ng-if="showEditPictureStuff">
                    <button class="btn btn-xs btn-default" ng-click="deleteThumbnails(thumbnail.id)">Delete thumbnails
                    </button>
                    <button class="btn btn-xs btn-default" ng-click="createThumbnails(thumbnail.id)">Create thumbnails
                    </button>
                    <button class="btn btn-xs btn-default" ng-click="rotatateThumbnailsClockwise(thumbnail.id)">
                        Clockwise
                    </button>
                    <button class="btn btn-xs btn-default" ng-click="rotatateThumbnailsCounterClockwise(thumbnail.id)">
                        Counter Clockwise
                    </button>
                </div>

                <div ng-if="showTags">
                    <span class="label label-primary" ng-click="showDetail(thumbnail.id)">{{thumbnail.id}}</span>

                    <span ng-repeat="tag in thumbnail.tags">
                        <span class="label label-info" ng-click="showThumbnailsForTag(tag)">{{tag}}</span>
                    </span>

                    <div>
                        <input name="newTag" ng-model="thumbnail.newTag" type="text">
                        <button name="newTag{thumbnail.id}" ng-click="addTag(thumbnail.id)">Add</button>
                    </div>
                </div>
            </div>


        </div>

        <div ng-if="additionalPicturesAvailable == true">
            <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="0">
                Loading more stuff ....
            </div>
        </div>

    </div>

</div>
<!-- /.container -->